@inherits umbraco.MacroEngines.DynamicNodeContext
@using UCommerce.Api
@using UCommerce.EntitiesV2
@using UCommerce.Runtime
@using UCommerce.Extensions

@{
	var category = SiteContext.Current.CatalogContext.CurrentCategory;
	var products = CatalogLibrary.GetProducts(category);
	var catalog = SiteContext.Current.CatalogContext.CurrentCatalog;
}

<h1>@category.DisplayName()</h1>
<h2>@category.Description()</h2>
	
@foreach (Product product in products)
{
	var price = CatalogLibrary.CalculatePrice(product, catalog);
	<div>
		<h3>@product.DisplayName()</h3>
		<p>
			@product.ShortDescription()
		</p>
		<span>@price.YourPrice.Amount</span>
		<a href="Product?product=@product.ProductId">
			More info
		</a>
	</div>
}