@inherits umbraco.MacroEngines.DynamicNodeContext
@using UCommerce.Extensions
@using UCommerce.Api
@using UCommerce.Runtime
	
	@{
		var category = SiteContext.Current.CatalogContext.CurrentCategory;
		var products = CatalogLibrary.GetProducts(category);
	}

<h1>
	@category.DisplayName()
</h1>
<h2>
	@Html.Raw(@category.Description())
	
</h2>
	
	@foreach (var product in products) {
		<div>
			<h3>
				@product.DisplayName()
			</h3>
			<p>
				@product.ShortDescription()
			</p>
			<a href="Product?product=@product.ProductId">
				More info
			</a>
		</div>
	}