@inherits umbraco.MacroEngines.DynamicNodeContext
@using UCommerce.Api
@using UCommerce.EntitiesV2
	
	@{
		if (IsPost) {
			TransactionLibrary.RequestPayments();
			Response.Redirect("Confirm");
		}
	}
	
	@{
		var order = TransactionLibrary.GetBasket().PurchaseOrder;
		var billingAddress = order.BillingAddress;
		var shippingAddress = order.GetShippingAddress("Shipment");
	}
@Display(billingAddress)
@Display(shippingAddress)

	<span>@order.ShippingTotal.Value</span>
	
	<table>
	@foreach (var orderLine in order.OrderLines) {
		
	}
	</table>
	
<form method="POST">
	<input type="submit" value="confirm and pay"/>	
</form>
@helper Display(OrderAddress address)
{
	<legend>@address.AddressName Address</legend>
	<div>@address.FirstName @address.LastName</div>
	<div>@address.Line1</div>
	<div>@address.Line2</div>	
	<div>@address.PostalCode @address.City</div>
	<div>@address.Country.Name</div>
	<div>@address.EmailAddress</div>
	<div>@address.PhoneNumber</div>
	<div>@address.MobilePhoneNumber</div>
}