@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using NHibernate.Criterion
@using UCommerce
@using UCommerce.Api
@using UCommerce.EntitiesV2

@{
    PurchaseOrder basket = UCommerce.Api.TransactionLibrary.GetBasket(false).PurchaseOrder;
    
    if (System.Web.HttpContext.Current.Request.HttpMethod == "POST")
    {
        foreach (var orderLine in basket.OrderLines.ToList())
        {
            int newQuantity = Convert.ToInt32(Request.Form["quantity_" + orderLine.OrderLineId]);

            if (Request.Form["remove_" + orderLine.OrderLineId] != null)
            {
                newQuantity = 0;
            }
            
            UCommerce.Api.TransactionLibrary.UpdateLineItem(orderLine.OrderLineId, newQuantity);
        }
        
        TransactionLibrary.ExecuteBasketPipeline();
    }
}

@{
	Layout = "mc_master.cshtml";
    
    UCommerce.Money orderTotal = new Money(basket.OrderTotal.GetValueOrDefault(), basket.BillingCurrency);
}

<form method="POST">
    
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Price</th>
                <th>VAT</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UCommerce.EntitiesV2.OrderLine orderLine in basket.OrderLines)
            {
                UCommerce.Money price = new Money(orderLine.Price, basket.BillingCurrency);
                UCommerce.Money vat = new Money(orderLine.VAT, basket.BillingCurrency);
                UCommerce.Money total = new Money(orderLine.Total.GetValueOrDefault(), basket.BillingCurrency);                
                <tr>
                    <td>@orderLine.Sku @orderLine.VariantSku</td>
                    <td>@price</td>
                    <td>@vat</td>
                    <td><input type="text" name="quantity_@orderLine.OrderLineId" value="@orderLine.Quantity"></td>
                    <td>@total</td>
                    <td><input type="submit" name="remove_@orderLine.OrderLineId" value="Remove Order line"/></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Order Total</td>
                <td>@orderTotal</td>
            </tr>
        </tfoot>
    </table>
    <input type="submit" value="Update basket"/>
</form>

<a href="/billing">Continue through checkout</a>