@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UCommerce.Runtime
@using UCommerce.Api
@using UCommerce.EntitiesV2
@using UCommerce.Extensions

@{
    if (HttpContext.Current.Request.HttpMethod == "POST")
    {
        var sku = HttpContext.Current.Request.Form["sku"];
        var variantSku = HttpContext.Current.Request.Form["variantSku"];
        
        UCommerce.Api.TransactionLibrary.AddToBasket(1, sku, variantSku);
        
        Response.Write(string.Format("Added: {0} {1}", sku, variantSku));
    }
    
}

@{
	Layout = "mc_master.cshtml";

    UCommerce.EntitiesV2.Product currentProduct = UCommerce.Runtime.SiteContext.Current.CatalogContext.CurrentProduct;

    UCommerce.Api.PriceCalculation price = UCommerce.Api.CatalogLibrary.CalculatePrice(currentProduct);

    bool? showOnHomepage = currentProduct.DynamicProperty<bool?>().ShowOnHomepage;

    var items = UCommerce.Api.MarketingLibrary.GetTargetedCampaignItems();
}

@if (showOnHomepage.HasValue && showOnHomepage.Value)
{
    <h1>This is a featured product!</h1>
}

<h1>@currentProduct.DisplayName()</h1>

<span>@currentProduct.Sku</span>

<span>Your price: @price.YourPrice.Amount</span>

<form method="POST">
    <input type="hidden" name="sku" value="@currentProduct.Sku"/>
    
    @if (currentProduct.ProductDefinition.IsProductFamily())
    {
        <h1>Variants for this product</h1>
        <select name="variantSku">
            @foreach (UCommerce.EntitiesV2.Product variant in currentProduct.Variants)
            {
                <option value="@variant.VariantSku">@variant.VariantSku</option>
            }
        </select>
        
        <input type="submit" value="Add To Basket"/>
    }
</form>